<div class="nav-bar">
    <img src="../../assets/logo3.png" alt="Logo" class="logo">
    <div class="nav-items">
      <ul>
        <li><a routerLink="/welcome">Home</a></li>
        <li><a *ngIf="!dataService.isAdmin" (click)="goToJobs()">Jobs for you</a></li>
        <li><a *ngIf="!dataService.isAdmin" (click)="goToAddJob()">Add a Job</a></li>
        <li><a routerLink="/aboutUs">About Us</a></li>
        <li><a *ngIf="dataService.showLogIn" routerLink="login">Log In</a></li>
        <li><a *ngIf="dataService.showLogIn" routerLink="signup">Sign Up</a></li>
        <li><a *ngIf="dataService.isAdmin" routerLink="/employers-list">Employers</a></li>
        <li><a *ngIf="dataService.isAdmin" routerLink="/graduates-list">Graduates</a></li>
        <li><a *ngIf="dataService.isAdmin" routerLink="/jobs-list">Jobs</a></li>
        <li><a *ngIf="dataService.userLoggedIn" class="logOut" (click)="logOut()">Log Out</a></li>
      </ul>
    </div>
  </div>
  <br><br><br>
  